%footer.footer-section.py-5
  .container
    %p.footer-text= t(".follow_us_footer")
    .social-icons
      = link_to "https://www.facebook.com/profile.php?id=61550710470546", target: :_blank do
        %i.fab.fa-facebook-f
      = link_to "https://www.instagram.com/atieethatie/", target: :_blank do
        %i.fab.fa-instagram
    %p.copy-text= t(".copyright")
