%footer.footer
  .footer-container
    %div.footer-content
      %div.footer-info
        %h3= t(".contact_us")
        %p= t(".email")

      %div.footer-social
        %h3= t(".follow_us")
        .social-links
          %a(href="https://www.instagram.com/atieethatie/" target="_blank")
            %i.fab.fa-instagram

  .footer-bottom
    %p= t(".copy_right")
