%footer.footer-section.py-5
  .container
    %p.footer-text Bienvenue chez nous! Suivez-nous sur les réseaux sociaux et restez à jour.
    .social-icons
      %a{href: "#"}
        %i.fab.fa-facebook-f
      %a{href: "#"}
        %i.fab.fa-twitter
      %a{href: "#"}
        %i.fab.fa-instagram
    %p.copy-text © 2023 Nom de votre entreprise. Tous droits réservés.
