%nav.navbar.navbar-expand-lg.px-4.my-1
  %a.navbar-brand.ps-md-5.ms-md-5{href: "#"}= image_tag "LogoAtie_Hatie_transparent_bg.png"
  %button.navbar-toggler{type: "button", 'data-bs-toggle': "collapse", 'data-bs-target': "#navbarNav", 'aria-controls': "navbarNav", 'aria-expanded': "false", 'aria-label': "Toggle navigation"}
    %span.navbar-toggler-icon
  .collapse.navbar-collapse{id: "navbarNav"}
    %ul.navbar-nav.ms-auto
      %li.nav-item.px-md-3
        %a.nav-link{href: "#", 'aria-current': "page"} NOUVEAUTÉS
      %li.nav-item.px-md-3
        %a.nav-link{href: "#"} OFFRES
      %li.nav-item.px-md-3
        %a.nav-link{href: "#"} CATÉGORIES
      %li.nav-item.px-md-3
        %a.nav-link{href: "#"} À PROPOS
      %li.nav-item.px-md-3
        %a.nav-link{href: "#"}
          %i.fas.fa-shopping-cart
