.navbar.navbar-expand-lg.fixed-top
  .container-fluid.mt-1
    = link_to root_path, class: "text-decoration-none", style: "color: inherit;" do
      .logo-title
        %p Atie & Hatie
    %button.navbar-toggler.btn.btn-outline-light.me-3{"data-bs-target" => "#collapsibleNavbar", "data-bs-toggle" => "collapse", type: "button"}
      %span.navbar-toggler-icon{style: "color: inherit;"}
    #collapsibleNavbar.collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item
          = link_to t("layouts.shared.sidebar.change_language"), change_locale_path, data: { "turbo-method": "put" }, class: "text-decoration-none", style: "color: inherit;"
        - if current_user&.admin?
          %li.nav-item
            =  link_to t(".admin"), products_path, class: "text-decoration-none", style: "color: inherit;"
        -# %li#accueil.nav-item
        -#   %i.fa.fa-comment
        -#   %span.d-lg-none.ml-2
        -#     Comment
        -# %li#accueil.nav-item
        -#   %i.fa.fa-shopping-cart
        -#   %span.d-lg-none.ml-2
        -#     Cart
