-# %link{rel: "stylesheet", href: "https://developer.squareup.com/reference/sdks/web/static/styles/code-preview.css", preload: true}
-# %script{src: "https://sandbox.web.squarecdn.com/v1/square.js", type: "text/javascript"}
%script{src: "https://web.squarecdn.com/v1/square.js", type: "text/javascript"}
