// Mixin pour gérer les requêtes médias
@mixin media($query) {
  @if $query == tabletAndUp {
    @media (min-width: 50rem) { @content; }
  }
  @else if $query == mobile {
    @media (max-width: 50rem) { @content; }
  }
}

@include media(mobile) {
  #product-show-page {

    .gradient::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 65%; /* Le dégradé couvrira 50% de la hauteur totale du parent */
      background: linear-gradient(to bottom, rgb(247,250,254) 0%,rgb(149, 132, 120) 100%);
      z-index: -1;
    }
    .container-show-page {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }

    h1 {
      font-size: 2.2em;
      color: #333;
      margin-bottom: 10px;
    }

    .product-image {
      width: 80%;
      height: auto;
      display: block;
      margin-bottom: 30px;
    }


    .product-details {
      margin-top: 5px;
    }

    #accordionDisplayProduct.accordion {
      display: block; /* Stacking items on top of each other */
      width: 90%; /* Taking up 90% width */
      margin: 1rem auto 2rem; /* Centering horizontally with margin top and bottom */
    }

    .accordion-item {
      flex: 0 0 100%; /* Make accordion items take full width */
      max-width: 100%; /* Ensure the max width is also full */
      background-color: rgba(235, 235, 235, 0.95);;
      border: 1px solid #e7e7e7;
      border-radius: 5px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
      // No need to set padding as it's already been set above
    }
  }
}
@include media(tabletAndUp) {
  #product-show-page {
    .gradient::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 60%; /* Le dégradé couvrira 50% de la hauteur totale du parent */
      background: linear-gradient(to bottom, rgb(247,250,254) 0%,rgb(149, 132, 120) 100%);
      z-index: -1;
    }
    .container-show-page {
      padding: 0px 50px 50px 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 40%;
      margin: 0 auto;
      text-align: center;
    }

    h1 {
      font-size: 3em;
      color: #333;
      margin-bottom: 10px;
    }

    .product-image {
      width: 100%;
      height: auto;
      display: block;
      margin-bottom: 30px;
    }

    .product-details {
      margin-top: 20px;
    }

    #accordionDisplayProduct.accordion {
      display: flex; /* Use flexbox to align children side by side */
      justify-content: space-between; /* Space out accordion items evenly */
      flex-wrap: wrap; /* Allow items to wrap into a column on smaller screens */
      align-items: flex-start; /* Align items to the start of the cross axis */
      width: 70%; /* Set the width of the accordion container to 70% */
      margin: 0 auto; /* Center the container on the page */
    }

    .accordion-item {
      flex: 0 0 calc(50% - 0.5rem); /* Do not grow, do not shrink, initial width */
      max-width: calc(50% - 0.5rem); /* Set maximum width to half of the container minus gap */
      background-color: rgba(235, 235, 235, 0.95);;
      border: 1px solid #e7e7e7;
      border-radius: 5px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
      padding: 1rem; /* Add padding to avoid content touching the borders */
    }
  }
}


#product-show-page {
  background: rgb(246,250,254);

  .gradient {
    position: relative;
    z-index: 1;
    margin-top: 100px;
  }


  .product-show-img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }

  .description {
    font-size: 1em;
    margin-bottom: 20px;
    color: #666;
    max-height: 175px;
    overflow-y: auto;
  }

  .variations {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    align-items: stretch; /* Align items in a way that they stretch to match the tallest one */
  }

  .colors, .format {
    flex: 1; /* Allows each box to grow and take up equal space */
    display: flex; /* Apply flexbox layout to these containers as well */
    flex-direction: column; /* Stack the children (p and ul) vertically */
    justify-content: space-between; /* Distribute space between p and ul */
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .colors p, .format p {
    color: #333;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-decoration: underline;
  }

  .colors ul, .format ul {
    padding: 0; /* Remove default padding */
    display: flex; /* Apply flex layout to ul */
    flex-wrap: wrap; /* Allow list items to wrap */
    justify-content: center; /* Center the list items horizontally */
    list-style: none;
  }

  .colors li, .format li {
    margin: 5px; /* Add some space around the list items */
    padding: 0.5rem 1rem; /* Add padding to the list items to ensure they have a block presence */
    border-radius: 4px; /* Rounded corners for list items */
    cursor: pointer;
    transition: color 0.3s ease;
  }

  .colors li:hover, .format li:hover {
    color: rgb(149, 132, 120); /* A fresh, vibrant color for hover state */
  }

  li.disabled {
    /* Styles to indicate the current page's color */
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }

  .accordion-header {
    padding: 1.1rem; /* Consistent spacing around the header */
  }

  .accordion-button {
    font-size: 1.0rem; /* Larger font-size for readability */
    color: #333; /* Dark text for contrast */
    background-color: transparent;
    border: none;
    text-align: left; /* Align text to the left */
    padding-left: 0; /* Remove default padding */
    box-shadow: none; /* No shadow for a clean look */
    font-weight: bold;
  }

  .accordion-button::after {
    filter: invert(50%) sepia(20%) saturate(1342%) hue-rotate(2deg) brightness(91%) contrast(88%);
    /* Adjust the color of the icon to match the design */
  }

  .accordion-button:not(.collapsed) {
    color: rgb(149, 132, 120); /* Highlight color when the accordion is open */
  }

  .accordion-button:not(.collapsed)::after {
    color: rgb(149, 132, 120);
    /* Adjust the icon color to match when the accordion is open */
  }

  .accordion-collapse {
    border: none; /* Remove any default borders */
  }

  .accordion-body {
    font-size: 1rem; /* Standard font-size for body content */
    color: #666; /* Lighter text color for the body */
    padding: 1rem; /* Consistent padding around the content */
    text-align: left; /* Align text to the left for readability */
    background-color: #f8f9fa; /* Slightly different background to distinguish from the header */
    border-top: 1px solid #e7e7e7; /* Subtle separation from the header */
  }
}
