#products_page {
  background: linear-gradient(to right, rgb(245,233,225), rgb(215,202,192));
  position: relative;


  #carouselExampleSlidesOnly {
    width: 100%;
    height: auto; /* ou une hauteur fixe si nécessaire */
    position: absolute; /* ou 'fixed' si la barre de navigation doit rester visible lors du défilement */
    max-height: 600px;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden; /* Cela empêchera toute partie de l'image qui dépasse la hauteur maximale de s'afficher */
  }

  #carouselExampleSlidesOnly .carousel-inner .carousel-item > img {
    object-fit: fill;
    width: auto;
    max-height: 600px; /* Cela applique la hauteur maximale à chaque image */
    margin: 0 auto; /* Centrer les images si elles sont plus étroites que le conteneur */
  }


  .cards-section {
    padding: 2rem 0;
    margin-top: 500px;


    .filters {
      position: sticky;
      top: 0; /* Distance from the top of the viewport */
      padding-top: 1rem; /* Optional: space above the filter */
    }

    .logo {
      display: flex; /* Utilise Flexbox pour aligner les éléments enfants */
      align-items: center; /* Centre verticalement les éléments enfants */
      justify-content: flex-start; /* Aligner les enfants à gauche; remplacez par 'center' si vous voulez centrer horizontalement */
    }

    .logo p {
      margin-left: 10px; /* Ajoutez un espace entre le logo et le texte, ajustez selon vos besoins */
      /* Ajoutez d'autres styles pour 'p' si nécessaire, comme la taille de police, la couleur, etc. */
    }
    .logo img {
      height: auto; /* Permet de maintenir le ratio de l'image */
      width: auto; /* Vous pouvez spécifier une largeur si nécessaire, ex. 100px */
      max-height: 125px; /* Ajustez la hauteur maximale pour l'aligner avec votre texte de la barre de navigation */
    }

    .container {
      .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
      }

      .card-container {
        padding: 0 15px;
        margin-bottom: 2rem;

        .card {
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          transition: box-shadow 0.3s ease-in-out;

          &:hover {
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          }

          .card-img-top {
            width: 100%;
            object-fit: cover;
          }

          .card-body {
            padding: 1rem;
            background: #fff;

            h5 {
              margin-top: 0.5rem;
              margin-bottom: 0.5rem;
              font-size: 1.25rem;
              color: #333;
              font-weight: lighter;
            }

            a {
              text-decoration: none;
              color: rgb(82, 88, 88);
              font-weight: bolder;
              font-size: .85rem;
              padding-right: .5rem;
            }

            p {
              color: rgb(82, 88, 88);
              font-weight: lighter;
              font-size: .85rem;
            }
          }
        }
      }
    }
  }
}
