.body-web {
  .btn {
    border: solid black 2px;
    border-radius: 50px;
    transition: background-color 0.3s, color 0.3s;

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      // Just an example: darken the button on hover and active for visibility
      background-color: darken(rgb(223,220,212), 10%);
      color: black; // Maintain the text color unless you want it to change
    }

    // Modifiers will go there
    &--primary {
      color: black;
      background-color: rgb(223,220,212);

      &:hover,
      &:focus,
      &:focus-within,
      &:active {
        background-color: darken(rgb(223,220,212), 15%); // Assombrit le fond un peu plus que pour le hover
      }
    }
    &--secondary {
      border: none;
      border-radius: 0px;
      background-color: #0056b3;
      border-color: #0056b3;
      color: #ffffff;

      &:hover,
      &:focus,
      &:focus-within,
      &:active {
        color: #ffffff;
        background-color: #004494;
        border-color: #003575;
      }
    }
  }
}
