.navbar {
  .top-banner {
    width: 100%;
    background-color: black; /* Light grey background */
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    position: relative;
  }
  
  .top-banner .btn-close {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white!important;
    font-size: 14px;
    background: none;
    border: none;
  }
  
  .navbar-white {
    background-color: white !important;
  }
  
  transition: background-color .7s; /* Smooth transition for the color change */
  &.navbar-white {
    background-color: #fff; /* Set the background color to white */

    .nav-link {
      color: #333; /* Change the text color for better contrast */
      &:hover {
        color: #1a1a1a; /* Darker shade on hover for better visibility */
      }
    }
  }
  .nav-link{
    color: rgb(46,37,28);
    text-transform: uppercase;
  }

  .navbar-brand img {
    height: auto; /* Permet de maintenir le ratio de l'image */
    width: auto; /* Vous pouvez spécifier une largeur si nécessaire, ex. 100px */
    max-height: 75px; /* Ajustez la hauteur maximale pour l'aligner avec votre texte de la barre de navigation */
  }

  /* Style the dropdown itself */
  .nav-item.dropdown {
    position: relative;
  }

  /* Remove the blue outline on focus for dropdown links */
  .dropdown-menu a:focus {
    outline: none;
    box-shadow: none;
  }

  /* Optional: Add a hover effect for dropdown items */
  .dropdown-item:hover, .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
  }

  /* Show the dropdown menu on hover of the dropdown item */
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }

  /* Style changes for when the dropdown is clicked (Bootstrap may handle this with JS) */
  .nav-item.dropdown:active .dropdown-menu,
  .nav-item.dropdown.show .dropdown-menu {
    display: block;
  }

}
