.navbar {
  transition: background-color 0.3s ease, padding 0.3s ease;
  
  &.navbar-white {
    background-color: #fff; /* Set the background color to white */

    .nav-link {
      color: #333; /* Change the text color for better contrast */
      &:hover {
        color: #1a1a1a; /* Darker shade on hover for better visibility */
      }
    }
  }
  
  .nav-link {
    color: rgb(46, 37, 28);
    text-transform: uppercase;
  }

  .navbar-brand img {
    height: auto; /* Maintain the image ratio */
    width: auto; /* Specify a width if necessary, e.g., 100px */
    max-height: 75px; /* Adjust max height to align with your navbar text */
  }

  /* Style the dropdown itself */
  .nav-item.dropdown {
    position: relative;
  }

  /* Remove the blue outline on focus for dropdown links */
  .dropdown-menu a:focus {
    outline: none;
    box-shadow: none;
  }

  /* Optional: Add a hover effect for dropdown items */
  .dropdown-item:hover, .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
  }

  /* Show the dropdown menu on hover of the dropdown item */
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }

  /* Style changes for when the dropdown is clicked (Bootstrap may handle this with JS) */
  .nav-item.dropdown:active .dropdown-menu,
  .nav-item.dropdown.show .dropdown-menu {
    display: block;
  }
}
