// bootstrap theme color
$primary: hsl(350, 67%, 50%);
$secondary: #6c757d; // Gray
$success: green;
$danger: red;
$warning: yellow;
$info: blue;
@import 'bootstrap/scss/bootstrap';

// Mixins
@import "mixins/media";

// Configuration
@import "config/variables";
@import "config/reset";
@import "config/animations";

// Components
@import "components/btn";
@import "components/navbar";
@import "components/sidebar";

// Layouts
@import "layouts/container";
@import "layouts/header";

// Utilities
@import "utilities/margins";

// libs
@import "lib/trix";
