.container.my-5.py-5
    .row
        .col-12.text-center.mt-3
            %h1.mb-4= t(".about_us")
        .col-12.col-md-8.offset-md-2
            .card.shadow-sm
            .card-body
                %p.card-text.mt-4
                    = t(".text_one")
                %p.card-text
                    = t(".text_two")

                %p.card-text.text-center.mt-4
                    = t(".text_three")
